@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

:root {
    --color-dark: #3e4449;
    --color-med: #5187b3;
    --color-accent: #0070cc;
    --color-light: #e7e6dc;
    --notes-font: 'Neuton', serif;
}



* {box-sizing:border-box;}

html, body {
    position: relative;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
    z-index: -10;
    scroll-snap-type: proximity;
}

.background {
    pointer-events: none;
    background-size: cover;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    }

.blurry {
    background-color: var(--color-med);
    filter: blur(8px) brightness(0.2);
    opacity: 0.7;
    z-index: 1;
    }
    


#nav {
    max-height: fit-content;
    border: 1px solid black;
    background-color: rgba(30, 143, 255, 0.397);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    width: 200px;
    z-index: 10;
}

#nav ul {
    display: flex;
    list-style-type: none;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

#nav ul li {
    padding: 5px;
}

#nav ul li button {
    padding: 5px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s;
    justify-content: start;
    max-height: max-content;
}

.squish {
    height: min-content;
}

.noteForm {
    display: flex;
    flex: 0 1 auto;
    background: var(--color-med);
    opacity: .69;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    resize: both;
    height: fit-content;
    transition: all 350ms;
}

.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    padding-bottom: 1%;
    max-height: 55px;
}

.titleInput {
    font-family: var(--notes-font);
    display: flex;
    flex: 1 0;
    font-size: larger;
    font-weight: 700;
    height: 100%;
    max-height: 50px;
    resize: none;
    border-radius: 6px ;
    border: none;
    margin: 0;
    padding: 2%;
    width: 100%;
    background-color: var(--color-light);
}

.contentInput {
    font-family: var(--notes-font);
    display: inline-block;
    flex: 1 1 auto;
    height: 100%;
    max-height: 80vh;
    margin: 15px;
    min-height: 40px;
    overflow-y: auto;
    margin: 0;
    font-size: larger;
    font-weight: 400;
    border: none;
    border-radius: 6px ;
    padding: 2%;
    background-color: var(--color-light);

}

.contentInput::-webkit-scrollbar {
    width: 20px;
  }
  
.contentInput::-webkit-scrollbar-track {
    background-color: transparent;
}

.contentInput::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-med);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.contentInput::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent);
}

textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px var(--color-accent);
    transition: all 0.2s;
  }

.note-buttons {
    display: flex;
    flex: 0 1 40px;
    gap: 5px;
    min-height: 40px;
    align-content: center;
    justify-items: space-around;
    margin-left: 5px;
    flex-wrap: wrap;

}

.note-buttons .button, .note-buttons button {
    display: flex;
    padding: 7px;
    font-size: larger;
    font-weight: 700;
    align-items: center;
    background-color: var(--color-light);
    color: var(--color-accent);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    flex: 1 1 auto;
    justify-content: space-evenly;
    transition: all 0.2s;

}

.note-buttons .button:hover, .note-buttons button:hover {
    box-shadow: 0 0 0 3px var(--color-accent);
    transition: all 0.2s;
}


.fade {
    opacity: 0;
    transform: scale(0.1);
}


#loginDialog::backdrop {
    background: var(--color-dark);
    opacity: .9;
    backdrop-filter: blur(7px);
}



#flashes {
    position: fixed;
    display: block;
    bottom: 15px;
    right: 50%;
    left: 50%;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--color-light);
    padding: 5px 10px;
    color: var(--color-dark);
    font-size: larger;
    font-weight: 600;
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(7px);
    z-index: 5;
}

#flashes ul {
    list-style-type: none;
}

.add-corner {
    background-color: var(--color-med);
    color: var(--color-light);
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    box-shadow: var(--color-accent) 4px 4px 0 0;
    cursor: pointer;
    display: inline;
    min-height: 50px;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    left: 15px;
    bottom: 50px;
    width: 9vh;
    height: 9vh;
    padding: 2vh 2vh;
    z-index: 11;
}

.add-corner:hover {
  background-color: var(--color-light);
  color: var(--color-accent);
  z-index: 10;
}

.add-corner:active {
  box-shadow: var(--color-accent) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

