<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="static/favicon.ico">
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}">
	</head>
	<body>

	

		
	<nav>
		this functionality is beta af<br>
		and yeah, there's cookies
		<ul>
			
			<li><input type="submit" value="login" id="loginButton"></a>
			<li><a href="/login"><input type="submit" value="logout"></a>
			<li><a href="/debug"><input type="submit" value="session info"></a>
			<li><a href="/reset"><input type="submit" value="reset"></a>

	</nav>	
	<main class="wrapper">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="flashes">
			<ul>

			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
			</div>
			{% endif %}
			{% endwith %}
		

		{% block edit %}{% endblock %}
		{% block notes %}{% endblock %}
	</main>
	

	<a href="/add"><button class="add-corner" role="button">&#10010</button></a>

	<div class="background"></div>
	
</body>
	<dialog id="loginDialog">
        <div class="login-form">
			you can use a fake email. it just identifies the session
			<form method="post" action="/success">  

				<input type='email' name='email' placeholder='email' class="title-input">
				<input type='password' name='password' placeholder='password' class="title-input">
				<input class="big-button" id="emailConfirmBtn" type="submit" value="&#10004">
		

			</form>
		</div>
	</dialog>
	<script src="{{ url_for('static', filename='dialogs.js') }}"></script>
	{% block login %}{% endblock %}
</html>