<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="static/favicon.ico">
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>notes app</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}">
	</head>
	<body>

	

		
	
	<main class="wrapper" id="wrapper">
		{% block edit %}{% endblock %}
		{% block notes %}{% endblock %}
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			
			<div id="flashes">
				<ul>

				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			</div>
			
		{% endif %}
		{% endwith %}
		</div>
	</main>


	
	<a href="{{url_for('add_note')}}" class="add-corner" role="button" id="cornerButton">&#10010</a>
	<div id="background" class="background" style="background-image: url({{url_for('static', filename='ocean.png')}})"";></div>
	<iframe style="display:none" id="hiddenForm" name="hiddenForm"></iframe>
</body>

	<dialog id="nav">
		<small>and yeah, there's cookies</small> 
		<div class="note-buttons">
			<a type="button" class="button" href="https://github.com/stanjosh/notes-app">git</a>
			<a type="button" class="button" href="{{url_for('login')}}" id="loginButton">logout</a>
			<a type="button" class="button" href="{{url_for('debug_info')}}">session info</a>
			<a type="button" class="button" href="{{url_for('reset_notes')}}">reset db</a>
			<a type="button" class="button" id="closeDebug">close</a>
		</div>
	</dialog>

	<dialog id="loginDialog">
		<div style="margin-bottom: 6px;">(you can use a fake email. no one cares)</div>
        <div class="login-form">
			
			<form method="post" action="{{url_for('success')}}">  

				<input type='email' name='email' placeholder='email' class="title-input" rows="1">
				<input type='password' name='password' placeholder='password' class="title-input" rows="1">
				<div class="note-buttons"><button id="emailConfirmBtn" type="submit" value="&#10004"></div>

			</form>
		</div>
	</dialog>

	<script src="{{ url_for('static', filename='dialogs.js') }}"></script>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<script defer>window.onload = delayFade(flashes, 3500)</script>
	{% endif %}
	{% endwith %}
	{% block login %}{% endblock %}
</html>
