{% extends 'home.html' %}

{% block notes scoped %}


{% if notes %}
{% for note in notes %}


        <form action="{{url_for('note_to_save', note_id=note['_id'])}}" target="hiddenForm" class="noteForm"  id="{{note['_id']}}">            

        
        <div class="titlebar">
            <textarea type="text" class="titleInput" name="title" rows="1" data-formId="{{note['_id']}}">{{note['title']}}</textarea>
            <div class="note-buttons">

                <a class="button delete" role="button" 
				onclick="hiddenForm.src={{url_for('delete_note', id_to_delete=note['_id'])}}" data-formId="{{note['_id']}}">&#10006</a>
            </div>
        </div>

        <textarea type="text" class="contentInput" name="content" rows="7" data-formId="{{note['_id']}}">{{note['content']}}</textarea>
            
        </form>
        
        


{% endfor %}
{% endif %}
{% endblock %}
