{% extends 'home.html' %}
<title>notes</title>
{% block edit %}{% endblock %}
{% block notes scoped %}
{% if session['note_dict'] %}
{% for note_title in session['note_dict'] %}
    <div class="note">

        <div class="titlebar">
            <div class="notetitle">{{ note_title }}</div>
            <div class="notebuttons">
                <a id="button-30" href="/add"><input type="submit" value="+"></a>
                <a href="/edit/{{ note_title }}"><input type="submit" value="&#9999"></a>
                <a href="/delete/{{ note_title }}"><input type="submit" value="&#10006"></a>
            </div>
        </div>  
        <div class="content"><p>{{ session['note_dict'][note_title] }}</p></div>

    </div>
{% endfor %}
{% endif %}

{% endblock %}