<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Python backend project</title>
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
{% if user %}
        <h1>{{user.name}}</h1>
        <p>username: {{user.username}}</p>
        <p>phone: {{user.phone}}</p>
        <p>state: {{user.state}}</p>
{% else %}
        <h1>{{error}}</h1>
{% endif %}

	</body>
</html>