<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Python backend project</title>
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		
	<div class="wrapper">
		{% if message %}
		<div class="status">
		<p>{{message}}</p>
		</div>	
		{% endif %}
		
		{% block edit %}{% endblock %}
		{% block notes %}{% endblock %}
		

		<div class="controls">
			<a href="/add"><input type="submit" value="+"></a>
		</div>
	</div>
	<div class="background"></div>
	</body>
</html>