<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Python backend project</title>
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
{% if notes_to_display %}
{% for note in notes_to_display %}
        <h3><a href="/input/{{note.title}}">{{note.title}}</a></h3>
		<p>{{note.content}}</p>
		
{% endfor %}
{% else %}
		<h1>No notes!</h1>
{% endif %}
		<a href="/input"><input type="submit" value="new note"></a>
	</body>
</html>