<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Python backend project</title>
		<meta name="description" content="A description.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
    <img class="background" src="{{url_for('static', filename='ocean.jpg')}}">
    <div class="wrapper">
        <div class="note">
            <form action="/create">
            <div class="notetitle">
                <input type="text" class="titleinput" id="titleinput" name="title" {% if note %} value="{{note.title}}" {% endif %}>
            </div>
            <div class="content">
            <input type="text" class="contentinput" id="contentinput" name="content" {% if note %} value="{{note.content}}" {% endif %}>
            </div>
            <div class="notebuttons">
                <input type="submit" value="submit" method="get">
            </div>
            </form>
        </div>
    </div>
    </body>
</html>